name: Backup Diario a Google Drive

on:
  schedule:
    # Se ejecuta a las 3:00 AM UTC todos los días
    - cron: '0 3 * * *'
  workflow_dispatch: # Permite ejecutarlo manualmente desde GitHub para probar

jobs:
  backup_and_upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Instalar herramientas de PostgreSQL 17
        run: |
          sudo apt-get install -y wget gnupg2 lsb-release
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo apt-get update
          sudo apt-get install -y postgresql-client-17

      - name: Crear Backup (pg_dump)
        env:
          DATABASE_URL: ${{ secrets.SUPABASE_DB_URL }}
        run: |
          # Crea un archivo con la fecha actual, ej: backup-2024-01-28.sql
          FILENAME=backup-$(date +%Y-%m-%d).sql
          echo "FILENAME=$FILENAME" >> $GITHUB_ENV
          
          # Ejecuta el dump usando la URL secreta
          pg_dump "$DATABASE_URL" -f "$FILENAME"

      - name: Subir a Google Drive
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: ${{ secrets.DRIVE_GHA_CREDS }}
          filename: ${{ env.FILENAME }}
          folderId: '1Xx6xpJgIAGizEbFML8ECyUO5W1LwZvJJ' 
          name: ${{ env.FILENAME }}
          overwrite: "false"
